.discount_wrapper {
  background: linear-gradient(263deg, #393 -0.43%, #006300 104.36%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 9rem;
}

.discount_wrapper img{
  height: auto;
  width: 100%;
}

.discount_info h3,
h4 {
  font-size: 90px;
  color: #ffff;
}
.discount_info h4 {
  font-size: 50px;
  margin-bottom: 46px;
}
