.discount_wrapper {
  background: linear-gradient(263deg, #393 -0.43%, #006300 104.36%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 9rem;
}

.discount_info h3,
h4 {
  font-size: 90px;
  color: #ffff;
}
.discount_info h4 {
  font-size: 50px;
  margin-bottom: 46px;
}

.discount_input {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.discount_input input,
button {
  padding: 27px 0 27px 50px;
  border-radius: 25px;
  border: none;
  outline: none;
}

.discount_input button {
  font-size: 28px;
  text-align: center;
  padding: 21px 72px 19px 74px;
  border: 2px solid #fff;
  background: transparent;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  color: #fff;
  cursor: pointer;
}

.discount_input button:hover {
  -webkit-box-shadow: 0px 10px 13px -7px #000000,
    16px 6px 16px -4px rgba(0, 0, 0, 0);
  box-shadow: 0px 10px 13px -7px #000000, 16px 6px 16px -4px rgba(0, 0, 0, 0);
}
