.product_img {
    width: 300px;
    height: 276px;
    object-fit: cover;
    border-radius: 15px;

  }

  .product_info{
    padding: 20px;
  }

  .prices{
    margin: 10px 0 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

.prices span:first-child {
    font-size: 30px;
    font-weight: 600;
}
.prices span:nth-child(2) {
    font-size: 20px;
    color: #8B8B8B;
    text-decoration: line-through;
}
.prices span:nth-child(3){
   color: #FF32A1;
   font-size: 20px;
}