.product {
  flex-basis: 24%;
  cursor: pointer;
  position: relative;
}

.product_img {
  width: 300px;
  height: 276px;
  object-fit: cover;
  border-radius: 15px;
}

.product_info {
  padding: 20px 0px 20px 10px;
}

.prices {
  margin: 10px 0 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.prices span:first-child {
  font-size: 30px;
  font-weight: 600;
}
.prices span:nth-child(2) {
  font-size: 20px;
  color: #8b8b8b;
  text-decoration: line-through;
}
.prices span:nth-child(3) {
  color: #ff32a1;
  font-size: 20px;
}

.product_title {
  font-size: 16px;
}

.product button {
  border-radius: 21px;
  border: 2px solid #393;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #339933;
  background: #F1FFF1;
  opacity: 0.9;
  text-transform: lowercase;
  padding: 11px 34px;
}
