.promo_wrapper {
  background-color: #a1e2eb;
}

.promo {
  display: flex;
  justify-content: space-between;
  padding: 76px 0 20px 20px;
}

.promo_title {
  margin-top: 100px;
}

.promo h1,
h2 {
  color: #ffff;
  font-weight: 700;
  font-size: 80px;
}

.promo h2 {
  font-size: 63px;
  margin-bottom: 60px;
}

.promo_btn {
  color: black;
  background-color: #ffff;
  margin-top: 85px;
  padding: 25px 50px;
  border-radius: 13px;
  border: none;
  font-weight: 700;
  font-size: 25px;
  cursor: pointer;
}

.promo_img {
  background-image: url("../../assets/promotion/promo.png");
  width: 640px;
  height: 550px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.promo_title a:hover {
  color: #ffff;
  background-color: #339933;
  transition: all 500ms;
  cursor: pointer;
}
