.contacts {
  display: flex;
  gap: 100px;
}
.contacts h3 {
  font-size: 40px;
  font-weight: 700;
}
.contacts_info,
.address_info {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.contacts_info:first-child > span {
  font-size: 70px;
  font-weight: 600;
}

.address_info span:nth-child(2) {
  font-size: 40px;
  font-weight: 500;
}
.address_info div  span:nth-child(1) {
  font-size: 18px;
  font-weight: 500;
}
.address_info b{
    font-size: 24px;
}

.contacts_icon {
  display: flex;
  gap: 50px;
}

.insta_icon,
.whatsapp_icon {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.insta_icon img, .whatsapp_icon img{
margin-bottom: 8px;
}